/* FOOTER */

footer {
    background-color: #f9f9f9;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
}

footer div {
    margin: 10px;
}

footer h4 {
    margin-bottom: 10px;
}

footer a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 4px 0;
}

.icones img {
    height: 24px;
    margin-right: 10px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 40px;
    border-bottom: 1px solid #ccc;
}

.headerEsq {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo img {
    height: 60px;
    width: auto;
}

nav a {
    margin: 0 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.headerDir {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pesquisa input {
    padding: 6px;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.msgIndex {
    margin: 0;
    text-align: center;
}

.subTexto {
    padding-top: 200px;
}